.unscramble {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 25vw;
    width: 150vw;
    background-color: beige;
    text-align: center;
    
    
    
    .code {
        position: absolute;
        color: beige;
        right: 10vw;
    }
}

